#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#undef ZMK_POINTING_DEFAULT_SCRL_VAL

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 4
#define GESTURE 5

&mt {
    flavor = "tap-preferred";
    quick-tap-ms = <0>;
    tapping-term-ms = <150>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "tap-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";

        esc_combo {
            bindings = <&kp ESC>;
            key-positions = <13 14>;
        };

        tab_combo {
            bindings = <&kp TAB>;
            key-positions = <25 26>;
        };

        eisu {
            bindings = <&kp LANG2>;
            key-positions = <43 42>;
        };

        kana {
            bindings = <&kp LANG1>;
            key-positions = <46 47>;
        };

        scroll_layer {
            bindings = <&mo 3>;
            key-positions = <36 35>;
        };

        gesture_layer {
            bindings = <&mo 5>;
            key-positions = <50 49>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        enter_pass: enter_pass {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>; // ENTER_PASS_PH
            label = "ENTER_PASS";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_RIGHT>, <&msc SCRL_LEFT>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &none           &none     &none             &none         &none                                         &none          &none  &none      &none     &none            &none
&none  &kp Q           &kp W     &kp E             &kp R         &kp T                                         &kp Y          &kp U  &kp I      &kp O     &kp P            &none
&none  &kp A           &kp S     &kp D             &kp F         &kp G      &none      &none                   &kp H          &kp J  &kp K      &kp L     &mt EQUAL MINUS  &none
&none  &kp Z           &kp X     &kp C             &kp V         &kp B      &kp LANG2  &kp LANG1               &kp N          &kp M  &kp COMMA  &kp DOT   &kp SLASH        &none
&none  &kp LEFT_SHIFT  &kp LGUI  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp SPACE  &mo 1      &lt_to_layer_0 2 ENTER  &kp BACKSPACE  &none  &none      &kp LBKT  &kp INT1         &none
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans     &trans          &trans          &trans           &trans                       &trans             &trans           &trans                     &trans             &trans             &trans
&trans  &kp LG(W)  &kp LS(LG(T))   &msc SCRL_UP    &kp RIGHT_ALT    &enter_pass                  &mt LS(N1) N1      &mt LS(N2) N2    &mt LS(N3) N3              &mt LS(N4) N4      &mt LS(N5) N5      &trans
&trans  &none      &mkp RCLK       &mkp MCLK       &mkp LCLK        &none        &trans  &trans  &mt LS(N6) N6      &mt LS(N7) N7    &mt LS(NUMBER_8) NUMBER_8  &mt LS(N9) N9      &mt LS(N0) N0      &trans
&trans  &none      &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &none        &trans  &trans  &mt LS(SEMI) SEMI  &mt LS(SQT) SQT  &mt LS(RBKT) RBKT          &mt LS(BSLH) BSLH  &mt LS(INT5) INT5  &trans
&trans  &trans     &trans          &trans          &trans           &trans       &trans  &trans  &studio_unlock     &trans           &trans                     &trans             &mt LS(LBKT) LBKT  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans      &trans     &trans     &trans                           &trans     &trans          &trans          &trans         &trans       &trans
&trans  &none   &kp KP_N7   &kp KP_N8  &kp KP_N9  &kp KP_PLUS                      &kp LG(W)  &kp LS(LG(T))   &none           &kp RIGHT_ALT  &enter_pass  &trans
&trans  &none   &kp KP_N4   &kp KP_N5  &kp KP_N6  &kp KP_MINUS     &trans  &trans  &kp PG_UP  &mkp MB4        &kp UP_ARROW    &mkp MB5       &kp HOME     &trans
&trans  &none   &kp KP_N1   &kp KP_N2  &kp KP_N3  &kp KP_MULTIPLY  &trans  &trans  &kp PG_DN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT      &kp END      &trans
&trans  &trans  &kp KP_DOT  &kp KP_N0  &trans     &kp KP_SLASH     &trans  &trans  &trans     &trans          &trans          &trans         &trans       &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans   &trans   &trans   &trans   &trans                   &trans        &trans        &trans          &trans  &trans  &trans
&trans  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                   &bootloader   &bt BT_SEL 0  &bt BT_SEL 1    &none   &none   &trans
&trans  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &trans  &trans  &sys_reset    &bt BT_CLR    &bt BT_CLR_ALL  &none   &none   &trans
&trans  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &trans  &trans  &out OUT_TOG  &none         &none           &none   &none   &trans
&trans  &trans   &trans   &trans   &trans   &trans   &trans  &trans  &trans        &trans        &trans          &trans  &trans  &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        MOUSE {
            bindings = <
&none  &none               &none             &none                     &none                 &none                                                    &none                  &none          &none           &none             &none             &none
&none  &to_layer_0 Q       &to_layer_0 W     &msc SCRL_UP              &to_layer_0 R         &to_layer_0 T                                            &to_layer_0 Y          &to_layer_0 U  &to_layer_0 I   &msc SCRL_UP      &to_layer_0 P     &none
&none  &kp A               &mkp RCLK         &mkp MCLK                 &mkp LCLK             &to_layer_0 G      &none              &none              &to_layer_0 H          &to_layer_0 J  &kp K           &mkp LCLK         &mkp RCLK         &none
&none  &to_layer_0 Z       &msc SCRL_LEFT    &msc SCRL_DOWN            &msc SCRL_RIGHT       &to_layer_0 B      &to_layer_0 LANG2  &to_layer_0 LANG1  &to_layer_0 N          &to_layer_0 M  &msc SCRL_LEFT  &msc SCRL_DOWN    &msc SCRL_RIGHT   &none
&none  &to_layer_0 LSHIFT  &to_layer_0 LGUI  &to_layer_0 LEFT_CONTROL  &to_layer_0 LEFT_ALT  &to_layer_0 SPACE  &trans             &trans             &to_layer_0 BACKSPACE  &none          &none           &to_layer_0 LBKT  &to_layer_0 INT1  &none
            >;
        };

        gesture_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
