#include <input/processors/runtime-input-processor.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    trackball_gestures: trackball_gestures {
        compatible = "zmk,input-processor-gestures";
        #input-processor-cells = <0>;
        bindings = <&kp LC(UP)>, <&kp LC(DOWN)>, <&kp LC(LEFT)>, <&kp LC(RIGHT)>;
        threshold = <60>;
        timeout-ms = <180>;
        cooldown-ms = <200>;
        tap-ms = <30>;
        active-layers = <0x00000020>;
    };
};

&scroll_runtime_input_processor {
    x-codes = <INPUT_REL_X>;
    y-codes = <INPUT_REL_Y>;
    xy-to-scroll-enabled;
    active-layers = <0x00000008>;
    scale-multiplier = <1>;
    scale-divisor = <4>;
};

&mouse_runtime_input_processor {
};

&pointing_listener {
    status = "okay";
    device = <&pointing_device>;
    input-processors = <&trackball_gestures &mouse_runtime_input_processor &scroll_runtime_input_processor>;
};
